beautifulsoup4
colorama
emoji
flask
irc
pandas
pytz
4validators4
pytest
jwt
matplotlib
millify
pillow
pre-commit
PyJWT==2.6.0
python-dateutil
pytz
reportlab
requests
svglib
urllib3==1.26.12
websocket-client
websockets